--markup markdown
--no-private
--title "ActiveRecord::Refined"
--readme docs/index.md
lib/**/*.rb
-
docs/index.md
docs/conditions.md
docs/joins.md
docs/functions.md
docs/expressions.md
docs/json.md
docs/windows.md
docs/ordering.md
docs/grouping.md
docs/ctes.md
docs/writing.md
docs/time_zones.md
